<%- partial('_partial/header', {
    title: theme.archives_title,
    hdClass: 'archives-header'
}) %>
<div class="container body-wrap fade">
    <%
        var posts = [];

        site.posts.each(function(post){
        <!--page.posts.each(function(post){-->
            posts.push(post);
        });

        var sortPosts = _[_.orderBy ? 'orderBy' : 'sortByOrder'](posts, ['date'], ['desc']);
    %>

    <%
    var y = 0, m = 0;
    var t = [0];
    sortPosts.forEach(function(post, i) {
        var ny = post.date.year();
        var nm = post.date.month();
        if (ny !== y || nm !== m) {
            y = ny;
            m = nm;
            t.push(i);
        }
    });
    %>

    <%
    y = 0, m = 0;
    var d = 0;
    t.shift();
    t.push(site.posts.length);
    sortPosts.forEach(function(post, i) {
        var dt = post.date;
        var ny = post.date.year();
        var nm = post.date.month();

        if (ny !== y || nm !== m) {
            y = ny;
            m = nm;
    %>
            <% if (i > 0) {
                %></div> <%
            } %>
            <h3 class="archive-separator" style="color: #f65"><%=dt.format('YYYY 年 MM 月')%>（<%- t[d+1] - (t[d++] || 0) %> 篇）</h3>
            <div class="waterfall">
    <% } %>

        <!--<%- partial('_partial/archive', {post: post, date_format: 'MMM D'}) %>-->
        <div class="waterfall-item padding">
            <div class="box">
                <a class="title" href="/<%= post.canonical_path %>" target="_blank">
                    <%- /(？|。|！)$/.test(post.title) ? post.title : post.title + '。' %>
                </a>
                <a class="catagories" href="/categories/<%- post.categories.data[0].name %>" target="_blank">
                    <%- post.categories.data[0].name %>
                </a>
            </div>
        </div>

    <%})%>
    </div>
</div>
