<!DOCTYPE html>
<html>
    <%- partial('_partial/head') %>

<body>
    <script>
        + function () {
            var S = window.localStorage;

            var theme = S.getItem('theme');
            var body = document.querySelector('body');
            if (body === null) {
                console.log('找不到 body 节点');
                return;
            }
            if (theme === 'night') {
                body.classList.add('night-mode');
            }

            function setTheme() {
                var theme = S.getItem('theme');
                var body = document.querySelector('body');
                if (body === null) {
                    console.log('找不到 body 节点');
                    return;
                }
                if (theme !== 'night') {
                    body.classList.add('night-mode');
                    S.setItem('theme', 'night');
                }
                else {
                    body.classList.remove('night-mode');
                    S.setItem('theme', 'not-night');
                }
            }

            function load() {
                var path = window.location.pathname;
                var theme = document.querySelector('#theme-toggle');
                theme.onclick = setTheme;

                if (document.body.clientWidth < 960) {
                    return;
                }

                // if (!/\/\d{2,4}/.test(window.location.pathname)) {
                //     return;
                // }

                if (!(path === '/' || /\/page\//.test(path))) {
                    return;
                }

                <% if (theme.music) { %>
                var $ = document.querySelector.bind(document);
                var music = $('#music');
                var timer1 = 0, timer2 = 0;
                var flag = false;

                var store = [];

                var index = ~~(Math.random() * store.length) || 0;
                if (!store[index]) return;
                var id = store[index].id;
                var type = store[index].type;

                var node = document.createElement('iframe');
                node.frameBorder = 'no';
                node.border = 0;
                node.marginWidth = 0;
                node.marginHeight = 0;
                node.width = 330;
                node.height = 86;
                node.src = '//music.163.com/outchain/player?type=' + type + '&id=' + id + '&auto=0&height=66';

                music.style['opacity'] = 0;
                music.style['display'] = 'none';

                window.onscroll = function (e) {
                    if (document.body.scrollTop > 200) {
                        music.style['display'] = 'block';
                    }
                    else {
                        music.style['display'] = 'none';
                    }
                }
                // 安装
                setTimeout(function () {
                    music.appendChild(node);
                    setTimeout(function () {
                        music.style['opacity'] = 1;
                    }, 600);
                }, 1000);

                music.classList.add('min-music');

                // 小
                music.onmouseout = function (event) {
                    clearTimeout(timer2);
                    timer1 = setTimeout(function () {
                        music.classList.add('min-music');
                    }, 1000);
                }
                // 正常
                music.onmouseover = function (event) {
                    clearTimeout(timer1);
                    timer2 = setTimeout(function () {
                        music.classList.remove('min-music');
                    }, 1000);
                }

                <% } %>
            }
            window.onload = load;
        } ();
    </script>
    <%- partial('_partial/loading') %>
    <%- partial('_partial/menu') %>

    <main id="main">
        <%- body %>
        <%- partial('_partial/footer') %>
    </main>

    <%- partial('_partial/after-footer') %>
    <%- partial('_partial/script') %>
    <div class="music" id="music"></div>
</body>
</html>
