<%- partial('_partial/header', {
    title: locals.title || theme.tags_title,
    hdClass: 'tags-header'
}) %>
<div class="container body-wrap fade">
    <%
        if(is_tag()) { %>
            <div class="waterfall">
          <% page.posts.each(function(post){ %>

            <%- partial('_partial/archive', {post: post, date_format: 'MMM D, YYYY'}) %>

        <% }) %>
            </div>
        <% } else {
            site.tags.each(function(tag){  %>
			<div class="tagcloud-container">
				<div class="tagcloud">					
					<a href="/tags/<%- tag.name %>">
						<h5 id="tag-<%=tag.name %>"><%=tag.name %></h5>
					</a>
				</div>
			</div>
        <% })
        }
    %>
    <%- partial('_partial/paginator') %>
</div>
