<article id="<%= post.layout %>-<%= post.slug %>"
  class="article-card article-type-<%= post.layout %>" itemprop="blogPost">

    <div class="post-meta">
        <%- partial('post/date', {date_format: config.date_format}) %>
        <%- partial('post/category') %>
        <span style="color: dodgerblue">
            约 <%- wordcount(post.content) %> 字
        </span>
        <span>
            将阅读<span style="color: orange;"> <%= min2read(post.content) * 2.5 %> </span> 分钟
        </span>
    </div>

    <%- partial('post/title', { hasLink: true }) %>

    <div class="post-content" id="post-content" itemprop="postContent">
		<% if(theme.excerpt_render) { %>
			<%- post.excerpt || post.content %>
		<% } %>
    </div>
    <% if(post.tags && post.tags.length){ %>
    <div class="post-footer">
        <%- partial('post/tag') %>
    </div>
    <% } %>
</article>
<div class="more">
	<a href="<%- url_for(post.path) %>">
		<%-theme.excerpt_link%>
		<i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
	</a>
</div>